<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.4">
  <display-name>SecureEhrsSystem</display-name>
  <context-param>
    <param-name>uploadBasePath</param-name>
    <param-value>C:/uploads</param-value>
  </context-param>
  <servlet>
    <description>
		</description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>
			com.login.Servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>uploadListServlet</display-name>
    <servlet-name>uploadListServlet</servlet-name>
    <servlet-class>com.login.Servlet.uploadListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>DownloadFile</display-name>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>com.login.Servlet.DownloadFile</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ImageUploadServlet1</display-name>
    <servlet-name>ImageUploadServlet1</servlet-name>
    <servlet-class>com.login.Servlet.ImageUploadServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PatientMasterServlet</display-name>
    <servlet-name>PatientMasterServlet</servlet-name>
    <servlet-class>com.login.Servlet.PatientMasterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LogoutServletMaster</display-name>
    <servlet-name>LogoutServletMaster</servlet-name>
    <servlet-class>com.login.Servlet.LogoutServletMaster</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.login.Servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.login.Servlet.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SendKeyViaEmailServlet</display-name>
    <servlet-name>SendKeyViaEmailServlet</servlet-name>
    <servlet-class>com.login.Servlet.SendKeyViaEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SetViewKeyInsession</display-name>
    <servlet-name>SetViewKeyInsession</servlet-name>
    <servlet-class>com.login.Servlet.SetViewKeyInsession</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SendKeyViaEmailServletFordataView</display-name>
    <servlet-name>SendKeyViaEmailServletFordataView</servlet-name>
    <servlet-class>com.login.Servlet.SendKeyViaEmailServletFordataView</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PatientHistoryAndReportsServlet</display-name>
    <servlet-name>PatientHistoryAndReportsServlet</servlet-name>
    <servlet-class>com.login.Servlet.PatientHistoryAndReportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PatientReportServlet</display-name>
    <servlet-name>PatientReportServlet</servlet-name>
    <servlet-class>com.login.Servlet.PatientReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadListServlet</servlet-name>
    <url-pattern>/uploadListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet1</servlet-name>
    <url-pattern>/ImageUploadServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientMasterServlet</servlet-name>
    <url-pattern>/PatientMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServletMaster</servlet-name>
    <url-pattern>/LogoutServletMaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendKeyViaEmailServlet</servlet-name>
    <url-pattern>/SendKeyViaEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetViewKeyInsession</servlet-name>
    <url-pattern>/SetViewKeyInsession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendKeyViaEmailServletFordataView</servlet-name>
    <url-pattern>/SendKeyViaEmailServletFordataView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientHistoryAndReportsServlet</servlet-name>
    <url-pattern>/PatientHistoryAndReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientReportServlet</servlet-name>
    <url-pattern>/PatientReportServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>loginRegistration.jsp</welcome-file>
  </welcome-file-list>
</web-app>